.flex-container {
    display: flex;
}

.flex {
    border: 2px solid black;
    margin-right: 10px;
    color: black;
    padding-left: 5px;
    height: 320px;
}  

.left {
    flex: 0.25;
    background-color: rgb(255, 255, 255);
    
}

.right {
    flex: 0.75;
    background-color: rgb(255, 255, 255);
} 
